body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: hsl(0, 0%, 98%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 24px;
  left: 24px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.card-body {
  background: #fff;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 8px;
  max-width: 300px;
  margin: auto;
  overflow: hidden;
}

.card-container {
  padding: 16px;
}

.card-body h2 {
  font-size: 18px;
  margin: 0 0 8px 0;
  color: hsl(220, 15%, 15%);
}

.card-body p {
  font-size: 15px;
  margin: 0;
  color: hsl(220, 15%, 55%);
}

.qr-image {
  padding: 16px;
  padding-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
